.container {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  &__header {
    text-align: center;
    width: 100%;
    padding: 5px;
    & h1 {
      margin-left: 20px;
      letter-spacing: 5px;
      font-size: 3em;
      color: red;
    }
    & p {
      font-size: 20px;
      color: red;
    }

    & button {
      margin: 0 10px;
      padding: 10px;
      border-radius: 10%;
      border: none;
      &:hover {
        background: tomato;
        color: white;
        cursor: pointer;
      }
      &:active {
        outline: none;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
      }
      &:focus {
        outline: none;
      }
    }
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 5px;
    &-card {
      border: 3px solid yellow;
      padding: 5px;
      margin: 10px;
      width: 15%;
      text-align: center;
      & img {
        width: 100%;
      }
      &.dead {
        border: 3px solid red;
      }
      &.alive {
        border: 3px solid green;
      }
    }
  }
}
